body {
    font-size: 14px;
}
td {
    padding: 8px;
    border: 1px solid #ddd;
}
.text-center{
    text-align: center;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.panel {
    margin: 20px;
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: center;
    padding: 10px 15px;
}
.table {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.bg-success {
    background-color: #dff0d8;
}
.ticlass {
	text-align: left;
}