<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>政治抽提系统题目管理系统</title>

    <link rel="stylesheet" href="./admin.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/element-plus"></script>
    
    <script>
        axios.defaults.baseURL = 'https://axskyv.laf.run/zzapi';
        const LOGINURL = "https://axskyv.laf.run/login";
    </script>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <h1 style="display: inline-block;">欢迎使用政治抽提系统题目管理系统</h1>
                <div v-if="access_token" style="display: inline-block; margin: 8px;">
                    <span>(管理员：{{ username }})</span>
                    <el-button @click="logout()" type="primary" link>退出登录</el-button>
                </div>
                <div v-if="!access_token" style="display: inline-block; margin: 8px;">
                    <span>(您还未登录！！！)</span>
                    <el-button @click="setnologin()" type="primary" link>请登录</el-button>
                </div>
            </el-header>
            <el-main>
                <div class="tools-bar">
                    <el-button type="success" plain @click="addTi_open()">添加题目</el-button>
                    <el-button type="success" plain @click="addlistTi_open()">批量添加题目</el-button>
                    <el-button type="danger" plain @click="del_check()">删除所选题目</el-button>
                </div>
                <div class="container">
                    <!--面板的情景样式-->
                    <div class="panel">
                        <!--暂无数据-->
                        <div class="panel-heading" v-if="!tiData.length"> 
                            <h3 class="panel-title">暂无数据</h3>
                        </div>
                        <!--面板的主体-->
                        <!--在面板中嵌入一个表格-->
                        <table class="table" v-if="tiData.length">
                            <thead>
                                <tr class="bg-success">
                                    <td style="width: 10px;"></td>
                                    <td style="width: 10px;">#</td>
                                    <td>题目</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in tiData">
                                    <td>
                                        <input 
                                            type="checkbox" 
                                            v-model="checkbox_type[index]"
                                            @click="checkbox_click(index,item.id)"
                                        />
                                    </td>
                                    <td>{{ index + 1 }}</td>
                                    <td class="ticlass">{{ item.ti }}</td>
                                    <td>
                                        <a @click="editTi_open(item.id,item.ti)">编辑</a> |
                                        <a @click="delTi(item.id,item.ti)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </el-main>
        </el-container>
        
        <el-dialog v-model="editData.show" title="编辑题目">
            <el-form>
                <el-form-item label="题目">
                    <el-input
                        v-model="editData.ti"
                        autosize
                        type="textarea"
                        placeholder="请输入题目"
                    ></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="editData.show = false">关闭</el-button>
                    <el-button type="primary" @click="editTi_close()">完成</el-button>
                </span>
            </template>
        </el-dialog>

        <el-dialog v-model="addData.show" title="添加题目">
            <el-form>
                <el-form-item label="题目">
                    <el-input
                        v-model="addData.ti"
                        autosize
                        type="textarea"
                        placeholder="请输入题目"
                    ></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="addData.show = false">关闭</el-button>
                    <el-button type="primary" @click="addTi_close()">完成</el-button>
                </span>
            </template>
        </el-dialog>

        <el-dialog v-model="addlistData.show" title="批量添加题目(一行为一题)">
            <el-form>
                <el-form-item label="题目">
                    <el-input
                        v-model="addlistData.ti"
                        autosize
                        type="textarea"
                        placeholder="请输入题目"
                    ></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="addlistData.show = false">关闭</el-button>
                    <el-button type="primary" @click="addlistTi_close()">完成</el-button>
                </span>
            </template>
        </el-dialog>

        <el-dialog v-model="loginData.show" title="登录">
            <el-form>
                <el-form-item label="用户名">
                    <el-input v-model="loginData.username"></el-button>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="loginData.password" type="password" show-password></el-button>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="login()">登录</el-button>
                </span>
            </template>
        </el-dialog>

    </div>
    <script>
        var API = {
            login: function(username,password){
                return axios.request({
                    url: LOGINURL,
                    method: 'post',
                    data: {
                        username: username,
                        password: password,
                    },
                })
            },
            get: function(){
                return axios.request({
                    url: "/",
                    method: 'post',
                    params: {
                        action: "admin.get",
                    },
                    data: {
                        access_token: localStorage.getItem("access_token"),
                    },
                })
            },
            remove: function(tiid){
                return axios.request({
                    url: "/",
                    method: 'post',
                    params: {
                        action: "admin.remove",
                    },
                    data:{
                        id: tiid,
                        access_token: localStorage.getItem("access_token"),
                    },
                })
            },
            edit: function(tiid,ti){
                return axios.request({
                    url: "/",
                    method: 'post',
                    params: {
                        action: "admin.edit",
                    },
                    data:{
                        access_token: localStorage.getItem("access_token"),
                        id: tiid,
                        ti: ti,
                    },
                })
            },
            add: function(ti){
                return axios.request({
                    url: "/",
                    method: 'post',
                    params: {
                        action: "admin.add",
                    },
                    data:{
                        access_token: localStorage.getItem("access_token"),
                        ti: ti,
                    },
                })
            },
            remove_list: function(idlist){
                return axios.request({
                    url: "/",
                    method: 'post',
                    params: {
                        action: "admin.removelist",
                    },
                    data: {
                        access_token: localStorage.getItem("access_token"),
                        id: idlist,
                    },
                })
            },
            addlist: function(tilist){
                return axios.request({
                    url: "/",
                    method: 'post',
                    params: {
                        action: "admin.addlist",
                    },
                    data:{
                        access_token: localStorage.getItem("access_token"),
                        ti: tilist,
                    },
                })
            },
        }
        Vue.createApp({
            data() {
                return {
                    username: "",
                    access_token: "",
                    tiData: [],
                    checkbox_type: [],
                    checkIdList: [],
                    editData: {
                        show: false,
                        tiid: "",
                        ti: "",
                    },
                    addData: {
                        show: false,
                        ti: "",
                    },
                    addlistData: {
                        show: false,
                        ti: "",
                    },
                    loginData: {
                        show: false,
                        username: "",
                        password: "",
                    },
                }
            },
            mounted: function () {
                if (localStorage.getItem("access_token") == null) {
                    //nologin!
                    this.loginData.show = true;
                    return;
                }
                this.loginData.show = false;
                this.username = localStorage.getItem("username");
                this.access_token = localStorage.getItem("access_token");

                this.getTi()
            },
            methods: {
                login: function(){
                    API.login(this.loginData.username, this.loginData.password)
                        .then(e=>{
                            if (e.data.code!=200){
                                this.$messageBox.alert(e.data.error, '登录错误', {type: 'error'})
                                return;
                            }
                            localStorage.setItem('username', this.loginData.username);
                            localStorage.setItem('access_token', e.data.access_token);
                            this.username = localStorage.getItem("username");
                            this.access_token = localStorage.getItem("access_token");
                            
                            this.loginData.show = false;

                            this.$messageBox.alert(e.data.msg, '登录成功', {type: 'success'})

                            this.getTi()
                        })
                },
                setnologin: function(){
                    localStorage.removeItem("username")
                    localStorage.removeItem("access_token")
                    this.loginData.show = true;
                },
                logout: function(){
                    localStorage.removeItem("username")
                    localStorage.removeItem("access_token")
                    location.reload();
                },
                getTi: function(){
                    const that = this
                    API.get()
                        .then(e=>{
                            if (e.data.code==401){
                                that.setnologin()
                                return;
                            }
                            that.tiData = e.data.data;
                        })
                },
                delTi: function(tiid,ti){
                    const that = this
                    this.$messageBox.confirm(
                        '确定要删除“'+ti+'”吗？',
                        '删除操作',
                        {
                            confirmButtonText: '删除',
                            cancelButtonText: '取消',
                            type: 'warning',
                        }
                    )
                        .then(() => {
                            API.remove(tiid)
                            .then(e=>{
                                if (e.data.code==401){
                                    that.setnologin()
                                    return;
                                }
                                that.$message.success('删除成功！');
                                this.getTi()
                            })
                        })
                    
                },
                editTi_open: function(tiid,ti){
                    this.editData.tiid = tiid;
                    this.editData.ti = ti;
                    this.editData.show = true;
                },
                editTi_close: function(){
                    this.editData.show = false;
                    const that = this;
                    API.edit(this.editData.tiid, this.editData.ti)
                        .then((e)=>{
                            if (e.data.code==401){
                                that.setnologin()
                                return;
                            }
                            that.$message.success('修改成功！');
                            that.getTi()
                        })
                },
                addTi_open: function(){
                    this.addData.ti = "";
                    this.addData.show = true;
                },
                addTi_close: function(){
                    this.addData.show = false;
                    const that = this;
                    API.add(this.addData.ti)
                        .then((e)=>{
                            if (e.data.code==401){
                                that.setnologin()
                                return;
                            }
                            if (e.data.code != 200){
                                that.$message.error(e.data.msg);
                                return;
                            }
                            that.$message.success('添加成功！');
                            that.getTi()
                        })
                },
                checkbox_click: function(index,id){
                    if(this.checkbox_type[index]){ //true=>false
                        this.checkbox_type[index] = !this.checkbox_type[index]; //不想选了！
                        this.checkIdList.splice(this.checkIdList.indexOf(id),1); //删除选择元素
                    } else {    //false=>true
                        this.checkbox_type[index] = !this.checkbox_type[index]; //想选！
                        this.checkIdList.push(id); //添加选择元素
                    }
                },
                del_check: function(){
                    if (!this.checkIdList.length){
                        that.$message.error('请选择题目！');
                        return;
                    }
                    const that = this
                    this.$messageBox.confirm(
                        '确定要删除所选的 '+this.checkIdList.length+' 道题吗？',
                        '批量删除',
                        {
                            confirmButtonText: '删除',
                            cancelButtonText: '取消',
                            type: 'warning',
                        }
                    )
                        .then(() => {
                            API.remove_list(that.checkIdList)
                            .then(e=>{
                                if (e.data.code==401){
                                    that.setnologin()
                                    return;
                                }
                                that.$message.success('批量删除成功！');
                                that.getTi()
                                that.checkbox_type = []
                                that.checkIdList = []
                            })
                        })
                },
                addlistTi_open: function(){
                    this.addlistData.ti = "";
                    this.addlistData.show = true;
                },
                addlistTi_close: function(){
                    if (!this.addlistData.ti){
                        this.$message.error('请输入内容！');
                        return;
                    }
                    this.addlistData.show = false;
                    //处理一下
                    var data = this.addlistData.ti.split("\n");
                    data.forEach((item, index) => { if (!item) { data.splice(index, 1); } })

                    const that = this;
                    API.addlist(data)
                        .then((e)=>{
                            if (e.data.code==401){
                                that.setnologin()
                                return;
                            }
                            if (e.data.code != 200){
                                that.$message.error(e.data.msg);
                                return;
                            }
                            that.$message.success('批量添加成功！');
                            that.getTi()
                        })
                },
            },
        }).use(ElementPlus).mount('#app')
    </script>
</body>
</html>